@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

::selection {
    background: #D1C4E9;
}

h1 {
    color: #9575CD;
    margin: 0;
    padding: 1vw;
    font-weight: bold;
    font-size: calc(32px + 1vw);
    text-transform: uppercase;
}

h2 {
    color: #9575CD;
    margin: 0;
    padding: 1vw;
    padding-bottom: .2vw;
    font-size: calc(16px + 1vw);
    font-weight: bold;
    text-transform: uppercase;
}

body {
    background-color: #f4f4f4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2vw;
    padding-top: 0;
}

li {
    display: inline;
    font-size: calc(18px + .2vw);
    padding-top: 0;
}

li a {
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    color: #7E57C2;
}

a:hover {
    color: #9575CD;
}

li a:hover:not(.active) {
    color: #9575CD;
}

p {
    padding-right: 3vw;
    color: #616161;
    font-size: calc(15px + .2vw);
}

p.main {
    padding-top: .4vw;
    padding-left: 3vw;
}

p.inside {
    padding-bottom: 0;
}

p.main a.links{
    font-size: calc(16px + .4vw);
}

@media only screen and (min-width: 1081px) {
    p.main {
        max-width: 1080px;
    }

    p.inside {
        max-width: calc(1080px - 2vw);
    }

    #toTop {
        display: block;
    }
}

a {
    text-decoration: none;
    color: #B39DDB;
}

input[type='checkbox'] {
    display: none;
}

.ctoggle {
    display: block;

    color: #B39DDB;
    font-size: calc(16px + .4vw);
    text-transform: uppercase;
    text-align: left;

    padding-left: 3vw;
    padding-top: 1vw;

    cursor: pointer;
}

.ctoggle:hover {
    color: #7E57C2;
}

.ctoggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .8rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.ccontent {
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;

    transition: max-height .3s ease-in-out;
}

.ccontent .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 5vw;
    padding-bottom: 0;
}

.toggle:checked + .ctoggle + .ccontent {
    max-height: 900px;
}

.toggle:checked + .ctoggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .ctoggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#toTop {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #B39DDB;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    color: #f4f4f4;
    transition: transform .5s ease-out;
}

#toTop:hover {
    background-color: #9575CD;
    color: #E0E0E0;
}
